/* style.css */


/* Global styles */

:root {
  font-family: Garamond, serif;
  background-color: #FCF5E5;
}

body, html {
  height: 100vh;
  padding: 0;
  margin: 0;
}

#wm-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#westmap-map {
  width: 80%;
  background-color: black;
}



/* Information panel styles */

#westmap-panel {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  border: 2px solid black;
  border-radius: 5px;
}

#wm-panel-content {
  width: 100%;
  height: 100%;
  margin: 5px;
}

#wm-panel-title {
  font-size: 24px;
}



/* Position control styles */

.wm-position-control {
  color: black;
  background-color: grey;
}

.wm-position-control > span {
  padding: 4px;
}



/* Marker styles */

.wm-town-marker {
  pointer-events: none;
}

.wm-town-marker-img {
  width: 32px;
  height: 32px;
}

.wm-town-marker-label {
  font-size: 16px;
  font-family: Garamond, serif;
  color: black;
  text-shadow: 1px 1px 2px white;
}

.wm-town-marker-container {
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}