:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#westmap-map {
  height: 95vh;
  background-color: black;
}


.wm-position-control {
  color: black;
  background-color: grey;
}

.wm-position-control > span {
  padding: 4px;
}

.wm-town-marker-img {
  width: 32px;
  height: 32px;
}

.wm-town-marker-label {
  font-size: 16px;
  font-family: Garamond, serif;
  color: black;
  text-shadow: 1px 1px 2px white;
}

.wm-town-marker-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}