/* style.css */


/* Global styles */

:root {
  font-family: Garamond, serif;

  --wm-background-colour: #FCF5E5;

  background-color: var(--wm-background-colour);
}

body, html {
  height: 100vh;
  padding: 0;
  margin: 0;
}

#wm-container {
  display: flex;
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  #wm-container {
    flex-direction: row;
  }

  #westmap-map {
    width: 80%;
  }

  #westmap-panel {
    width: 20%;
  }
}

@media (orientation: portrait) {
  #wm-container {
    flex-direction: column;
  }

  #westmap-map {
    height: 70%;
  }

  #westmap-panel {
    height: 30%;
  }
}

#westmap-map {
  background-color: black;
}


#westmap-panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6em;
  border: 2px solid black;
  border-radius: 4px;
}


/* Information panel styles */

#wm-panel-content {
  width: 100%;
  height: 100%;
  font-size: calc(0.5em + 1vmax);

  overflow-y: scroll;
}

#wm-panel-content ul {
  margin: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#wm-panel-title {
  font-weight: bold;
  font-size: calc(0.5em + 2vmax);
  text-align: center;
}



/* Position control styles */

.wm-position-control {
  color: black;
  background-color: var(--wm-background-colour);
}

.wm-position-control > span {
  padding: 4px;
}



/* Marker styles */

.wm-town-marker {
  pointer-events: none;
}

.wm-town-marker-img {
  width: 32px;
  height: 32px;
}

.wm-town-marker-label {
  font-size: 16px;
  font-family: Garamond, serif;
  color: black;
  text-shadow: 1px 1px 2px white;
}

.wm-town-marker-container {
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}